<!DOCTYPE html>
<!-- This template was created by Ken Transit, ISM 5994 -->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Use the header for a wesbite name, or a logo! -->
	<header>
		Forward Fitness Club
	</header>
	
	<!-- Use the nav area for hyperlinks, to other pages on the site! -->
	<nav>
		Home &nbsp; &nbsp;
		About Us &nbsp; &nbsp;
		Classes &nbsp; &nbsp;
		Nutrition &nbsp; &nbsp;
		Contact Us &nbsp; &nbsp;
	</nav>
	
	<!-- Main area, main content goes here! -->
	<main>
	</main>
	
	<!-- Footer area! Like shoes for a website! (webpage footer content) -->
	<footer>
		&copy; Copyright 2015. All Rights Reserved. <br>
		forwardfitness@club.net
	</footer>

</body>
</html>