<!DOCTYPE html>
<!-- This template was created by Ken Transit, ISM 5994 -->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<div id="container"> 
	
	<!-- Use the header for a wesbite name, or a logo! -->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club Logo" height="275" width="845"></a>
	</header>
	
	<!-- Use the nav area for hyperlinks, to other pages on the site! -->
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html">About Us</a> &nbsp; &nbsp;
		<a href="classes.html">Classes</a> &nbsp; &nbsp;
		<a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;
		<a href="contact.html">Contact Us</a> &nbsp; &nbsp; 
	</nav>
	
	<!-- Main area, main content goes here! -->
	<main>
	</main>
	
	<!-- Footer area! Like shoes for a website! (webpage footer content) -->
	<footer>
		&copy; Copyright 2015. All Rights Reserved. <br>
		<a href="mailto:forwardfitness@club.net"> forwardfitness@club.net </a>
	</footer>
	
	</div>
	
</body>
</html>